[Desktop Entry]
Version=1.0
Name=Zoom
Comment=Web App
Exec=vivaldi-stable --app="https://app.zoom.us/wc/home" --class=WebApp-Zoom1842 --name=WebApp-Zoom1842 --user-data-dir=/home/randy99/.local/share/ice/profiles/Zoom1842 --use-gl=angle --enable-accelerated-video-decode --enable-features=Vulkan,VulkanFromANGLE,DefaultANGLEVulkan,VaapiIgnoreDriverChecks,VaapiVideoDecoder,PlatformHEVCDecoderSupport,UseMultiPlaneFormatForHardwareVideo
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=zoom-desktop
Categories=GTK;Education;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Zoom1842
StartupNotify=true
X-WebApp-Browser=Vivaldi
X-WebApp-URL=https://app.zoom.us/wc/home
X-WebApp-CustomParameters=--use-gl=angle --enable-accelerated-video-decode --enable-features=Vulkan,VulkanFromANGLE,DefaultANGLEVulkan,VaapiIgnoreDriverChecks,VaapiVideoDecoder,PlatformHEVCDecoderSupport,UseMultiPlaneFormatForHardwareVideo
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
